annotated-types
anyio
click
colorama
exceptiongroup
fastapi
h11
httptools
idna
pydantic
pydantic_core
pyspark
python-dotenv
PyYAML
sniffio
starlette
typing_extensions
uvicorn
watchfiles
websockets
langchain
openai
chromadb
tiktoken
PyPDF2
langchainhub
